*{
    margin: 0%;
    padding: 0%;
}
body{
    /* background-color: rgb(20, 220, 120);
    background: linear-gradient(to right, rgb(20, 220, 120), rgb(162, 135, 236), rgb(20, 220, 220)); */
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgb(170, 157, 159);
    border-radius: 15px;
    cursor: pointer;
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-corner{
    display: none;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: blueviolet;
    padding: 0.5%;
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 4px 4px rgb(105, 19, 185);
    margin-bottom: 1%;
}
.head img{
    width: 4vw;
    height: 4vw;
    margin: 0.3%;
    margin-left: 3%;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 3px 3px rgb(91, 26, 151);
}
.head h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: lighter;
    width: 100%;
    text-align: left;
    color: white;
    margin-left: 0.5%;
    text-shadow: 2px 2px 3px rgb(39, 13, 63);
}
.main_note{
    width: 100%;
    height: 27vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5%;
    margin-top: 0.5%;
}
.main_note .form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 10vh;
    box-sizing: border-box;
    padding: 0.5%;
    box-shadow: 0.5px 0.5px 6px 6px rgb(240, 236, 236);
    border-radius: 10px;
    background: linear-gradient(to left, rgb(253, 246, 233), rgb(250, 244, 233), rgb(253, 249, 232));
}
.main_note .form input{
    outline: none;
    border: none;
    width: 100%;
    height: 90%;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    color: chocolate;
    background: transparent;
}
.main_note .form textarea{
    outline: none;
    border: none;
    width: 100%;
    height: 40%;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: chocolate;
    box-sizing: border-box;
    resize: none;
    background: transparent;
}
.main_note .form input::placeholder{
    text-align: left;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
}
.main_note .form textarea::placeholder{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}
.main_note .form button{
    padding: 2%;
    width: 3.5vw;
    height: 3.5vw;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: rgb(255, 254, 254);
    box-shadow: 1px 1px 10px 5px rgb(233, 227, 227);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 90%;
    margin-bottom: -7%;
    border: none;
}  
.main_note .form .textarea{
    display: none;
}
.main_note .form .btn1{
    color: green;
    background: linear-gradient(to right, rgb(107, 202, 107), white);
    transition: all 0.5s ease-in;
    display: none;
}
.main_note .form .btn1:hover{
    color: whitesmoke;
    background: linear-gradient(to right, rgb(6, 158, 6), rgb(142, 209, 87));
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 1%;
    margin-top: 0.2%;
    padding: 0.5%;
    padding-top: 0.2%;
    padding-left: 3.5%;
    height: 54.3vh;
    overflow-y: scroll;
}
.note{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 16vw;
    height: 23vh;
    margin: 1%;
    padding: 0.5%;
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 5px 5px rgb(231, 231, 236);
    border-radius: 10px;
    background: linear-gradient(to left, rgb(253, 246, 233), rgb(250, 244, 233), rgb(253, 249, 232));
}
.note button{
    padding: 2%;
    width: 3vw;
    height: 3vw;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: rgb(255, 254, 254);
    box-shadow: 1px 1px 10px 5px rgb(233, 227, 227);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 85%;
    margin-bottom: -8%;
    border: none;
}  
.note .btn2{
    color: rgb(184, 8, 8);
    background: linear-gradient(to right, rgb(202, 107, 107), white);
    transition: all 0.5s ease-in;
}
.note .btn2:hover{
    color: whitesmoke;
    background: linear-gradient(to right, rgb(173, 9, 9), rgb(209, 87, 87));
}
.note h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.05rem;
    width: 100%;
    height: 12%;
    text-align: center;
    color: chocolate;
    padding: 0.5%;
    text-shadow: 1px 1px 2px rgb(204, 177, 164);
    text-transform: capitalize;
}
.note p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.99rem;
    width: 100%;
    height: 55%;
    margin: 0.5%;
    text-align: justify;
    color: black;
    word-wrap: break-word;
    overflow-y: scroll;
}
footer{
    text-align: center;
    height: fit-content;
    padding: 0.2%;
    margin-top: 9%;
    font-weight: bold;

    color: rgb(32, 31, 31);
}